*{
  margin: 0;
  padding: 0;
}


#root{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100%;
}

.container{
  border-radius: 10px;
  transition: color 2s;
}
.quotes{
 padding: 20px;
}
.Author{
  display: flex;
  justify-content: flex-end;
  padding: 20px;
}

.father{
  display: flex;
  justify-content: space-between;
}

.buttom{
  padding: 10px;
  cursor: pointer;

}

.card{
 border-radius: 10px;
  width: 450px;
  padding: 10px;
}

.bottomInternal{
  padding: 10px;
  border-radius: 5px;
}

.twitterfa {
  padding: 10px 5px;
  background-color: red;
  color: white;
  border-radius: 5px;
}